@{
    ViewBag.Title = "About our company";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Наша компанія складається із кваліфікованих молодих спеціалістів. Хоч на ринку продажу ми новенькі, та вже встигли про себе заявити. Компанія має зарубіжних інвесторів та зв'язки із компаніями міжнародного рівня. Далі буде,історію пишемо лише Ми! </p>
