@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Офіс "Choose&Enjoy"<br />
    вул.Григорія Сковороди,16<br />
    <abbr title="Phone">Телефон:</abbr>
    (044)45 12 12
</address>

<address>
    @*<strong>Телефон:</strong>   <a href="mailto:Support@example.com">(044)45 12 12</a><br /> *@
    <strong>E-mail адреса :</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>