@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="Content/bootstrap.css"/>

<div class="jumbotron">
    <h2>      Company "Choose&Enjoy"
     </h2>
    <p class="lead">Choose&Enjoy це компанія кваліфікованих працівників, в яких постійно пульсує генератор ідей.<br /> Ми з нетерпінням чекаємо на ваші замовлення.<br />За якість продукції відповідаємо особисто. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go To Shop</h2>
        <p>Тут ви можете познайомитися з нашою продукцією.<br /> Ознайомитись із готовими шаблонами <br />та маєте можливість зробити власне замовлення на оформлення сайту.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Детальніше про замовлення &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>