@model TPP_MainProject.Models.entities.Order

@{
    ViewBag.Title = "Add Description to Order";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/card.js"></script>
<link rel="stylesheet" href="~/Content/card.css">
<script>
    $('.active form').card({ container: $('.card-wrapper') })
    $('form').card({
        // a selector or jQuery object for the container
        // where you want the card to appear
        container: '.card-wrapper', // *required*
        numberInput: 'input#number', // optional — default input[name="number"]
        expiryInput: 'input#expiry', // optional — default input[name="expiry"]
        cvcInput: 'input#cvc', // optional — default input[name="cvc"]
        nameInput: 'input#name', // options - defaults input[name="name"]

        width: 200, // optional — default 350px
        formatting: true // optional - default true
    });
</script>

<!--<div class="col-lg-4">
    <div class="demo-container">
       

        <div class="form-container active">
            <form action="">
                <input placeholder="Card number" type="text" name="number">
                <input placeholder="Full name" type="text" name="name">
                <input placeholder="MM/YY" type="text" name="expiry">
                <input placeholder="CVC" type="text" name="cvc">
            </form>
        </div>

        <div class="card-wrapper"></div>
    </div>
</div>-->

<div class="col-lg-10">
  <div class="well bs-component">

    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
       <h2>Address And Payment</h2>
        <fieldset>
            <legend>Shopping Information</legend>

            <br>
            <div class="form-group">
                @Html.LabelFor(model => model.detailDescription, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextAreaFor(model => model.detailDescription, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.detailDescription, "", new { @class = "text-danger" })
                </div>
            </div>
      

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-8">
                    <button type="submit" value="AddressAndPayment" class="btn btn-primary">Submit Order &raquo;</button>
                </div>
            </div>
        </fieldset>
    }

  </div>
</div>

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
